# alertmanager-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alertmanager
  template:
    metadata:
      labels:
        app: alertmanager
    spec:
      containers:
        - name: alertmanager
          image: prom/alertmanager:v0.27.0
          args:
            - "--config.file=/etc/alertmanager/alertmanager.yml"
            - "--storage.path=/alertmanager"
          ports:
            - containerPort: 9093
          readinessProbe:
            httpGet:
              path: /-/ready
              port: 9093
            initialDelaySeconds: 30
            periodSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: 9093
            initialDelaySeconds: 30
            periodSeconds: 15
            failureThreshold: 3
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          volumeMounts:
            - name: config-volume
              mountPath: /etc/alertmanager

            - name: slack-token
              mountPath: /etc/alertmanager/secrets
              readOnly: true
            - name: storage-volume
              mountPath: /alertmanager
      volumes:
        - name: config-volume
          configMap:
            name: alertmanager-config
        - name: alertmanager-secrets
          secret:
            secretName: alertmanager-secrets
        - name: storage-volume
          emptyDir: {}
        - name: slack-token
          secret:
            secretName: slack-app-token
            items:
              - key: token
                path: slack_token
---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: alertmanager-secrets
  namespace: observability
spec:
  encryptedData:
    slack_api_url: AgBhYtnOEYDc2uQ4zyWket4sp6wkbK6jRTsjFopFIBG/Rk/N1mP+WUpxHAdweyycz/oqWfOU+nA0/eAjDJBZ6OADrfq/ASZRmJfLZBVElUhAuQA0WzRDBYpcy5K2ANqJWcLA6n7bcGTwvBz6w1Ob+xUGWyCgMUDGjEFaenXivbQdXz7Vh+VTxGobZjXegl/4jsDcIlx/fycJzXb3iU1k+JL4sfIqXcO6ymyXDLbtu7PCFMkREQ1G47CazR8fH7mLKhxpqgeUu6/b+pgYIaOJG/pEpDPIgJoWGdI5fSAfKT8OQ0vkVSIIjodUvKtaxMPMD27wH1dnZeyXzvM+AJKo7ZQezt2XDcYkNMg3kcCxVXjgXOggEAoinbnWUIvE3CpjRyCdaNbvw6nyChNmCiI8J6nI38s1pWmmQj7f7bUo4iPW+1w2QAlA62v5kGYoQ8CrzGF5H/Ue5f7toCt6bYL4fQvsnBg/4Yfn9LyXTVODtU6N+LE+ChlVzyIBPmFCtxJoqp/OmZCaxTobwREZksZP2aXMfRpMtZgA6KKfsWF/gL8y2ywclnTQd/PTrGRQVOs5QQkEYspLJ4rVzMLEGcDWnaR+GXpGOehf5Sy7n5TsDDvxlZQ3boC0P3Im50oI5KzAy32L971T5LFeaVqDyLGVA4niCiW8eGgNpdOmaLpUbfJxTeH9CvWApmyE5nt84SgI4eba9XHr4zZJXlhO4Ds9jWIrt3WLpZxwxOiDf46yr46pLyIc7OZ10RkLytNc8NyHx73hPy1R9AoTpJAcBIarpFMYgdPiiAiGNtSuZz3GrdeC53A=
  template:
    metadata:
      name: alertmanager-secrets
      namespace: observability
