apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: redis
  labels:
    app: redis
spec:
  serviceName: "redis"
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      # [1] Pod 레벨 보안 설정 (가장 중요)
      # fsGroup: 1001 -> K8s가 볼륨 마운트 시 자동으로 소유권을 1001번으로 변경해줍니다.
      # runAsNonRoot: true -> 루트 실행을 원천 차단하여 정책을 준수합니다.
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        runAsNonRoot: true

      # [2] initContainer 제거함 (정책 위반 원인 삭제)

      containers:
        - name: redis
          image: redis:latest
          ports:
            - containerPort: 6379
              name: redis

          # [3] 볼륨 마운트 (데이터 저장 경로)
          volumeMounts:
            - name: redis-data
              mountPath: /data

          env:
            - name: spring_redis_host
              valueFrom:
                configMapKeyRef:
                  name: redis-config
                  key: spring_redis_host
            - name: spring_redis_port
              valueFrom:
                configMapKeyRef:
                  name: redis-config
                  key: spring_redis_port
            - name: spring_cache_type
              valueFrom:
                configMapKeyRef:
                  name: redis-config
                  key: spring_cache_type

          securityContext:
            allowPrivilegeEscalation: false

  volumeClaimTemplates:
    - metadata:
        name: redis-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 8Gi