# values-prod.yaml

# Default values for spring-boot.
image:
  repository: minimeisme/portfogram-argocd-k8s
  tag: "795bcff0accda5ea73ff5f57f19d4bdb9faf8321"
  pullPolicy: Always

fullnameOverride: ""
nameOverride: ""

# Replica 설정
replicaCount: 3

# Security
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 2000
  fsGroup: 3000
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  privileged: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: false

# Network
container:
  httpPort: 8080
  managementPort: 8081

metrics:
  enabled: false
  path: "/actuator/prometheus"

service:
  type: ClusterIP
  port: 8080

labels:
  app.kubernetes.io/instance: "spring"
  app.kubernetes.io/name: "portfogram-server"

configMap:
  enabled: true

# Authentication
serviceAccount:
  create: false
  annotations: {}
  name: ""

podAnnotations: {}

env:
  KUBE_POD_NAME:
    valueFrom:
      fieldRef:
        fieldPath: metadata.name

# Probes
probes:
  readiness:
    enabled: true
    path: /actuator/health/readiness
  liveness:
    enabled: true
    path: /actuator/health/liveness
  startup:
    periodSeconds: 5
    failureThreshold: 30

secret:
  enabled: true
  name: database-credentials

otel:
  exporterOtlpEndpoint: http://tempo.tempo:4317

# Deployment 전략 설정
strategy:
  rollingUpdate:
    maxSurge: 1        # 동시에 추가로 올릴 수 있는 Pod 수
    maxUnavailable: 0  # 서비스 중단 허용할 Pod 수 (0 = 무중단)

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/acme-challenge-type: http01
    cert-manager.io/cluster-issuer: letsencrypt-prod
  tls:
    - hosts:
        - portfogram.com
      secretName: prod-spring-cert-tls
  hosts:
    - host: portfogram.com
      paths:
        - path: /api
          pathType: Prefix
          service:
            name: spring-portfogram-server
            port: 8080

networkPolicy:
  enabled: true